<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body style="padding-top: 0px;">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="nav-link" href="#">Project</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor03">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/Experiment/Index">Experiments</a>

                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Volunteer/Index">Volunteers</a>

                    </li>

                    @if (Session["UserRole"] == null)
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="/Home/Login">Login</a>


                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="/Home/Logout">Logout</a>
                        </li>

                        if (Session["UserRole"].ToString() == "1")
                        {
                            <li class="nav-item">

                                <a class="nav-link" href="/Experiment/GeneralReport">General Report</a>
                            </li>
                            <li class="nav-item">

                                <a class="nav-link" href="/Experiment/SpecificReport">Specific Report</a>
                            </li>
                            <li class="nav-item">

                                <a class="nav-link" href="/Volunteer/Create">Add Volunteer</a>
                            </li>

                        }
                        if (Session["UserRole"].ToString() == "2")
                        {
                            <li class="nav-item">

                                <a class="nav-link" href="/Experiment/Create">Create Experiments</a>
                            </li>
                        }
                    }
                </ul>

            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>




